<link href="https://fonts.googleapis.com/css2?family=
Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,
300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="/static/contact.css">
<section class="main">
    <div class="heading">
        <h1>Contact Us</h1>
        <p>Got questions, feedback, or just want to say hi? Reach out to us!
            Our contact page is your direct line to our team. <br> We're here to assist
            you with any inquiries or concerns you may have. Get in touch today!</p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <h1>Contact Information</h1>
            <p><i class="fas fa-map-marker-alt"></i>32900 Lumbini Road,<br>Murgiya,Rupandehi</p>
            <p><i class="fas fa-phone"></i>+977-9812345670</p>
            <p><i class="fas fa-envelope"></i>helpmedicure@gmail.com</p>
        </div>
    </div>
</section>
 <footer class="footer">
            <div class="row">
                 <div class="col">
                <i class="fa-solid fa-laptop-medical fa-4x"></i>
                </div>
                    <div class="col">
                  <h3 style="margin-bottom: 5px;">Dashboard:</h3> 
                  <p><a href="/dashboard">Home</a></p> 
                  <p><a href="/booking">Booking</a></p> 
                  <p><a href="/about">About</a></p> 
                    </div>
                <div class="col">
                    <h3 style="margin-bottom: 5px;">Social Media:</h3>
                    <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                    <p><i class="fa-brands fa-twitter"></i>Twitter</p>
                    <p><i class="fa-brands fa-linkedin"></i>Linkedin</p>
                    <p><i class="fa-brands fa-instagram"></i>Instragram</p>
                </div>
                <div class="col">
                  <h3 style="margin-bottom: 5px;">Description:</h3> 
                  <p>MediCure: Simplify healthcare appointments with our 
                    web-based doctor booking system. Easily find and schedule 
                    appointments with trusted healthcare providers online.</p> 
                </div>
               
            </div>
        </footer>  
